asgiref==3.12.1
ast_serialize==0.6.0
Django==6.0.7
Faker==40.36.0
flake8==7.3.0
librt==0.13.0
mccabe==0.7.0
mypy==2.3.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.3.0
pycodestyle==2.14.0
pyflakes==3.4.0
setuptools==83.0.0
sqlparse==0.5.5
typing_extensions==4.16.0
wheel==0.47.0
