{% extends "global/base.html" %}

{% block content %}
    {% include "global/partials/_search_container.html" %}

    {% include "global/partials/_messages.html" %}

    <div class="main-content main-content-list container">
        {% for recipe in page_obj %}
            {% include "recipes/partials/_recipe-list.html" %}
        {% empty %}
        <div class="center m-y">
            <h1>Nenhum receita encontrada.</h1>
        </div>
        {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
        {% include "global/partials/_pagination.html" %}
    {% endif %}

{% endblock content %}